.c-title {
  margin-top: 30px;
  text-align: center;
}

.c-p {
  margin: 30px, 50px;
  text-align: center;
  font-size: 1.1rem;
}
.c-p2 {
  margin: 30px, 60px;
  display: flex;
}

.c-section {
  margin-left: 80px;
  margin-right: 80px;
}

.c-small,.c-column {
  text-align: center;
  border: dotted 0.35px #fff;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

small{
  text-decoration: underline;
  display: inline-block;
  padding-bottom: 30px;
}

h3 {
  margin-top: 30px;
}

p {
  margin: 20px;
}

.tobecon{
  margin:50px
}

.subimage img{
  max-width:200px;
}

.rightimag{
  margin-left: auto;
}


.c-column{
  text-align: center;
}

/*button まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*button のカスタマイズ*/
a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

a.btn--pink {
  color: #000;
  background-color: #f781dd;
  border-bottom: 5px solid #cc00a0;
}

a.btn--pink:hover {
  margin-top: 3px;
  color: #000;
  background: #f781dd;
  border-bottom: 2px solid #cc00a0;
}

.nextbutton{
  margin: 50px;
}

.under-button{
 display: flex;
}


.tubuyaki{
  font-size: 1.6rem;
  color: #fff;
}

/*レスポンシブ指定↓*/
@media screen and (max-width: 480px) {
  #header h1 {
    font-size: 0.8rem;
  }

  .c-title {
    text-align: center;
    font-size: 1.5rem;
  }

  .c-p {
    text-align: center;
    font-size: 1.1rem;
  }

  .c-p2{
    display:block;
  }

  .c-section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .c-small {
    text-align: center;
    border: dotted 0.35px #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
  }

  .subimage img{
    display: block;
    margin: 0 auto;
  }
  
  article>p{
    display: block;
  }

}

